.thankyou {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3;
    
  }

.thankyou p  {
  line-height: 6;
  margin-bottom: 10px;
}
  
 .MEMBERS {
   gap:10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 250px;
 }
