a {
    color: white;
    text-decoration: none;
}

.navbar {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:70px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.4s;
    margin-left: 600px;
    gap: 200px;


}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 400; 
    transition: .5;
   
   
}

.navbar ul li a:hover ,
.navbar ul li a :active {
    color:#7cf03d;
    
}

#navMenu {
    display: flex;
    gap: 30px;
    list-style: none;
}

/* MENU TOGGLE (HIDDEN ON DESKTOP) */
.menu-toggle {
    font-size: 32px;
    color: white;
    cursor: pointer;
    display: none;
    user-select: none;
}



@media screen and (max-width: 768px) {
    .navbar {
        padding: 15px 20px;
        margin-left: 0;
        gap: 10px;
    }

    /* Hide desktop menu and show toggle button */
    #navMenu {
        position: absolute;
        top: 70px; /* below navbar */
        left: 0;
        width: 100%;
        background-color: #111; /* match navbar bg */
        flex-direction: column;
        gap: 15px;
        display: none; /* hidden initially */
        padding: 15px 0;
    }

    #navMenu.active {
        display: flex; /* show when toggle clicked */
    }

    .navbar ul li {
        margin-left: 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}